*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: sans-serif;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px){
    .main{
        flex-direction: column;
    }

    .container{
        margin-bottom: 8vh;
        left: 4vw;
    }
}

@media(max-width:800px){
    .digital h1 span{
        font-size: 1.2rem;
    }

    .digital{
        padding: 2vh !important;
    }
}


body{
    background-color: #081b29;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    margin-right: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    background-color: rgba(255, 255, 255, 0.1);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.25);
    box-shadow: 0px 0px 30px rgba(226, 220, 220, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 10px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 1.8rem;
}

.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #fff;
    background-color: #0ef;
    box-shadow: 0 0 10px #0ef;
}

.hhand,.mhand,.shand{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform-origin: bottom;
}

.hhand{
    top: 80px;
    height: 70px;
    width: 5px;    
    opacity: 0.8;
    background-color: blue;
}

.mhand{
    height: 100px;
    width: 4px;
    top: 50px;
    opacity: 0.8;
    background-color: yellow;
}

.shand{
    height: 130px;
    width: 3px;
    top: 20px;
    background-color: red;
    transform-origin:calc(140px-110px) ;
}

.digital{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 30px #0ef;
    border-radius:30px ;
    padding: 1.5vw;
    text-align: center;
}

.digital h1 span{
    box-shadow: 0 0 10px rgba(226, 220, 220, 0.9);
    padding: .5vw;
    border-radius: 10px;
    font-size: 2rem;
    margin: .9vw;
}